@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Cairo', sans-serif;
}
body, #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
}
.container {
  padding-inline-start: 3rem !important;
  padding-inline-end: 3rem !important;
}
.main-title {
  text-align: center;
  color: #9c421d;
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 550px) {
  .main-title {
    font-size: 1.25rem;
  }
}

